# Abaikan folder Virtual Environment
venv/
env/
__pycache__/

# Abaikan Database (Jangan bagi orang nampak rekod siasatan kau)
phishing_hunter.db
phishing_hunter.db-wal
phishing_hunter.db-shm

# Abaikan fail rahsia OS
.DS_Store
.env